.mana-symbol._0 {
  background-image: url("/mana-symbols/0.svg");
}
.mana-symbol._1 {
  background-image: url("/mana-symbols/1.svg");
}
.mana-symbol._10 {
  background-image: url("/mana-symbols/10.svg");
}
.mana-symbol._11 {
  background-image: url("/mana-symbols/11.svg");
}
.mana-symbol._12 {
  background-image: url("/mana-symbols/12.svg");
}
.mana-symbol._13 {
  background-image: url("/mana-symbols/13.svg");
}
.mana-symbol._14 {
  background-image: url("/mana-symbols/14.svg");
}
.mana-symbol._15 {
  background-image: url("/mana-symbols/15.svg");
}
.mana-symbol._16 {
  background-image: url("/mana-symbols/16.svg");
}
.mana-symbol._17 {
  background-image: url("/mana-symbols/17.svg");
}
.mana-symbol._18 {
  background-image: url("/mana-symbols/18.svg");
}
.mana-symbol._19 {
  background-image: url("/mana-symbols/19.svg");
}
.mana-symbol._2 {
  background-image: url("/mana-symbols/2.svg");
}
.mana-symbol._20 {
  background-image: url("/mana-symbols/20.svg");
}
.mana-symbol._2B {
  background-image: url("/mana-symbols/2B.svg");
}
.mana-symbol._2G {
  background-image: url("/mana-symbols/2G.svg");
}
.mana-symbol._2R {
  background-image: url("/mana-symbols/2R.svg");
}
.mana-symbol._2U {
  background-image: url("/mana-symbols/2U.svg");
}
.mana-symbol._2W {
  background-image: url("/mana-symbols/2W.svg");
}
.mana-symbol._3 {
  background-image: url("/mana-symbols/3.svg");
}
.mana-symbol._4 {
  background-image: url("/mana-symbols/4.svg");
}
.mana-symbol._5 {
  background-image: url("/mana-symbols/5.svg");
}
.mana-symbol._6 {
  background-image: url("/mana-symbols/6.svg");
}
.mana-symbol._7 {
  background-image: url("/mana-symbols/7.svg");
}
.mana-symbol._8 {
  background-image: url("/mana-symbols/8.svg");
}
.mana-symbol._9 {
  background-image: url("/mana-symbols/9.svg");
}
.mana-symbol._B {
  background-image: url("/mana-symbols/B.svg");
}
.mana-symbol._BG {
  background-image: url("/mana-symbols/BG.svg");
}
.mana-symbol._BP {
  background-image: url("/mana-symbols/BP.svg");
}
.mana-symbol._BR {
  background-image: url("/mana-symbols/BR.svg");
}
.mana-symbol._C {
  background-image: url("/mana-symbols/C.svg");
}
.mana-symbol._G {
  background-image: url("/mana-symbols/G.svg");
}
.mana-symbol._GP {
  background-image: url("/mana-symbols/GP.svg");
}
.mana-symbol._GU {
  background-image: url("/mana-symbols/GU.svg");
}
.mana-symbol._GW {
  background-image: url("/mana-symbols/GW.svg");
}
.mana-symbol._R {
  background-image: url("/mana-symbols/R.svg");
}
.mana-symbol._RG {
  background-image: url("/mana-symbols/RG.svg");
}
.mana-symbol._RP {
  background-image: url("/mana-symbols/RP.svg");
}
.mana-symbol._RW {
  background-image: url("/mana-symbols/RW.svg");
}
.mana-symbol._S {
  background-image: url("/mana-symbols/S.svg");
}
.mana-symbol._U {
  background-image: url("/mana-symbols/U.svg");
}
.mana-symbol._UB {
  background-image: url("/mana-symbols/UB.svg");
}
.mana-symbol._UP {
  background-image: url("/mana-symbols/UP.svg");
}
.mana-symbol._UR {
  background-image: url("/mana-symbols/UR.svg");
}
.mana-symbol._W {
  background-image: url("/mana-symbols/W.svg");
}
.mana-symbol._WB {
  background-image: url("/mana-symbols/WB.svg");
}
.mana-symbol._WP {
  background-image: url("/mana-symbols/WP.svg");
}
.mana-symbol._WU {
  background-image: url("/mana-symbols/WU.svg");
}
.mana-symbol._X {
  background-image: url("/mana-symbols/X.svg");
}
/* Tap, Untap, and energy */
.mana-symbol._T {
  background-image: url("/misc-symbols/T.svg");
}
.mana-symbol._E {
  background-image: url("/misc-symbols/E.svg");
}
.mana-symbol._Q {
  background-image: url("/misc-symbols/Q.svg");
}
